
@{
    ViewData["Title"] = "ContactUs";
}

<h3 style="font-family:'Monotype Corsiva'"> Contact info: </h3>
<p style="font-family:'Monotype Corsiva'"> If your order is palced and still you don't recive it </p>
<p style="font-family:'Monotype Corsiva'"> Plaese Call to this number: <b>9988334455</b></p>

